.container {
  width: 900px;
  margin: auto;
}


/*@media(max-width: 900px) {
  .container {
    width: 750px;
  }
}

@media(max-width: 700px) {
  .container {
    width: 600px;
  }
}

@media(max-width: 400px) {
  .container {
    width: 350px;
  }
}*/

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
}
